.lista {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 0;
    margin: 0;
}

.enlace {
    text-decoration: none;
    color: var(--color-texto);
    font-family: var(--font-space-mono), monospace;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border: 2px solid transparent; /* Reserva espacio para el borde */
}

.enlace:hover:not(.activo) {
    background-color: var(--color-secundario);
    color: #000000;
    border: var(--borde-grueso);
    transform: translate(-3px, -3px);
    box-shadow: var(--sombra-solida);
}


.activo {
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: var(--borde-grueso);
    padding: 0.4rem 0.8rem;
    box-shadow: 3px 3px 0px var(--color-texto); /* Sombra técnica más pequeña para el tag */
    text-decoration: none;
}

.activo:hover {
    text-decoration: none;
    transform: translate(-2px, -2px);
    box-shadow: var(--sombra-solida); /* Sombra completa en hover */
}

.enlace:active {
    opacity: 0.7;
}


